{
  "extends": [
    "standard",
    "standard-react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "babel",
    "react",
    "standard",
    "import"
  ],
  "rules": {
    "semi": 0,
    "space-before-function-paren": 0,
    "no-labels": 0,
    "jsx-quotes": [2, "prefer-double"],
    "max-len": [2, 120, 2],
    "indent": 0,
    "react/jsx-indent-props": 0,
    "react/prop-types": 1,
    "dot-location": 0
  }
}